<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>All Gaming Device</h2>
  <p><%= mes %></p>
  <a href="/com""> 会社から探す</a><br>
  <a href="/devall""> 種類から探す</a><br>
  </body>
</html>